public/Automation Packs/Foundation Pack/Automate Payment Receipts_ Email, Archive, and Track with Stripe and Google Workspace.json
{
  "name": "Automate Payment Receipts: Email, Archive, and Track with Stripe and Google Workspace",
  "nodes": [
    {
      "parameters": {},
      "id": "cdfad755-0724-4156-b4ec-04a671a85013",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://api.stripe.com/v1/invoices?limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer ${{credential.stripe.secret.key}}"
            }
          ]
        },
        "options": {}
      },
      "id": "a511f05a-495d-4066-af54-9b977ca59aec",
      "name": "Fetch Invoices",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        624,
        240
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "Fetch Invoices\n\nDescription: Makes an authenticated request to the Stripe API and retrieves the 5 most recent invoices. This serves as the raw dataset that contains invoice details such as customer information, amounts, statuses, and hosted invoice URLs.\nAction: Fetches invoice data from Stripe.",
        "height": 272
      },
      "id": "c24bc890-1e3e-4334-88a2-69fcd2c0be5e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Send Receipt Email – \n\nDescription: Sends an email to the customer using the invoice details (customer name, invoice number, amount, etc.). The previously downloaded invoice PDF is attached automatically. This ensures the customer receives a formal receipt directly in their inbox.\nAction: Sends a payment receipt email with the PDF attached.",
        "height": 288
      },
      "id": "1d8ec260-aa38-4dfa-8f73-98ea5e5e671c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2128,
        -272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Download File \n\nDescription: Uses the invoice’s hosted PDF link (invoice_pdf) to fetch the actual receipt document. It retrieves the PDF from Stripe as binary data, making it usable as an email attachment or for archiving.\nAction: Downloads the invoice PDF from Stripe.",
        "height": 240
      },
      "id": "94dac976-2243-463c-8ac0-5bf2b3061a95",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1856,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "IF (Already Receipted?) \n\nDescription: Looks into the invoice metadata field receipt_sent. If the receipt has already been generated and sent, the workflow will skip. Otherwise, it continues to generate and send the receipt email.\nAction: Filters out invoices that already have a receipt sent.",
        "height": 256
      },
      "id": "afba0c2a-08e2-4d19-ab7f-29e79b70c29a",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "IF (Paid?)\n\nDescription: Evaluates whether the invoice is marked as status = paid. Only paid invoices should move forward to receipt generation. Unpaid or draft invoices are skipped here.\nAction: Routes invoices based on payment status.",
        "height": 224
      },
      "id": "64a4d0dc-6d8f-4728-adaf-ce509afce060",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Expand List\n\nDescription: Since Stripe returns a bundled list of invoices, this node breaks them into individual records. That way, each invoice can be independently evaluated (paid/unpaid, receipted/unreceipted) and processed correctly in subsequent steps.\nAction: Splits Stripe’s invoice list into single invoice items.",
        "height": 288
      },
      "id": "d776ef15-e417-4449-a2a5-e1c53319f87e",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Append to Ledger \n\nDescription: Adds a new row in the “Payment Receipts” Google Sheet ledger with key invoice details such as date, invoice number, file name, Drive link, file ID, and file size. This acts as your permanent record of receipts for accounting and tracking purposes.\nAction: Updates the Google Sheet with invoice + Drive file metadata.",
        "height": 288
      },
      "id": "8c3f5034-5e26-429d-9d30-4f56dd99db5d",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2464,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Upload Invoice PDF \n\nDescription: Uploads the invoice PDF into a specific Google Drive folder. The file is named according to the invoice number, making it easy to search and retrieve later.\nAction: Stores the invoice PDF in Google Drive.",
        "height": 208
      },
      "id": "aacfb7d2-7acb-4b1a-a7c7-39069a01055f",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2176,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "=data",
        "options": {}
      },
      "id": "b107aa2b-90b9-48fe-98dc-d828012444e7",
      "name": "Expand List",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1136,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3e81fec9-095e-4ada-b6d0-1e7db2d0b446",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "paid"
            }
          ]
        },
        "options": {}
      },
      "id": "a83ac85d-4737-44bc-877e-6844389a9689",
      "name": "IF (Paid?)",
      "type": "n8n-nodes-base.if",
      "position": [
        1344,
        224
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b8f92661-228b-457c-b6ae-263ba3b034da",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.metadata.receipt_sent }}",
              "rightValue": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "d7fec273-c100-43bf-9ddc-311f31b34493",
      "name": "IF (Already Receipted?)",
      "type": "n8n-nodes-base.if",
      "position": [
        1600,
        208
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "={{$json[\"invoice_pdf\"]}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "c2dbb175-469f-4c19-8466-08afba27115d",
      "name": "Download File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1936,
        192
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "sendTo": "={{$json.customer_email}}",
        "subject": "=Payment Receipt - Invoice {{$json.number}}",
        "emailType": "text",
        "message": "=Hi {{$json.customer_name}},  \n\nThanks for your payment.  \nAttached is your receipt for invoice {{$json.number}} (Total: {{$json.currency}} {{$json.total}}).  \n\nRegards,  \nYour Company\n",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "49c0e75c-8b77-4d43-bc71-60b6bd02519a",
      "name": "Send Receipt Email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2208,
        32
      ],
      "webhookId": "0c82c299-6938-42ed-bda6-5007d79af34f",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "name": "={{$json[\"number\"]}}.pdf",
        "driveId": {
          "__rl": true,
          "mode": "url",
          "value": "{{YOUR_GOOGLE_DRIVE_URL}}"
        },
        "folderId": {
          "__rl": true,
          "mode": "url",
          "value": "{{YOUR_URL}}"
        },
        "options": {}
      },
      "id": "b4401084-8c70-47f3-8804-637c9bef9834",
      "name": "Upload Invoice PDF",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2240,
        384
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "{{YOUR_SPREADSHEET_URL}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "url",
          "value": "{{YOUR_URL}}"
        },
        "columns": {
          "value": {},
          "schema": [],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1efedacb-1e07-4e23-ab7c-19e0e21b6b08",
      "name": "Append to Ledger",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2512,
        384
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "{{YOUR_SPREADSHEET_URL}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "url",
          "value": "{{YOUR_URL}}"
        },
        "columns": {
          "value": {},
          "schema": [],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f535062a-1ced-46d3-8b4e-73aaeb6c6e3b",
      "name": " Error Logging",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1088,
        544
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "content": "Action: Logs workflow errors and failures to a dedicated error tracking spreadsheet for monitoring and debugging purposes. \n\nDescription: This Google Sheets append node serves as the error logging destination for your workflow's error handling system. When API calls fail, data validation errors occur, or other workflow issues arise, this node captures the error details and appends them as new rows to your \"error log sheet\".",
        "height": 320
      },
      "id": "6f14b401-170b-4fb8-ae5d-aa079f7549cb",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e2130860-3ee5-490c-9eb0-6a6e02e9f41e",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.data }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "4cd976cd-8739-47ad-bddd-25d0973c3cd8",
      "name": "Check API Response",
      "type": "n8n-nodes-base.if",
      "position": [
        864,
        240
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "Action: Validates that the Stripe API returned a proper data array before attempting to process invoices. \n\nDescription: This conditional node acts as a data quality gate that prevents the workflow from breaking when the Stripe API returns unexpected or empty responses. It specifically checks for the existence of the data array in the API response, which is the standard structure that Stripe uses to return collections of objects like invoices, payments, or disputes.",
        "height": 336
      },
      "id": "89781301-0ca4-4dc7-924f-0ea978d6bc83",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![Sticky Note Image](https://cdn.discordapp.com/attachments/1421922857595834368/1422243054559035492/banner.png?ex=68e1e550&is=68e093d0&hm=7f4b2ad03acfb637d9ba3177654240de26ebf97100596366c4e3c1b99ffdfe23&)",
        "height": 368,
        "width": 912
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        -608
      ],
      "id": "6f522948-28da-48af-bc79-64f0746802bb",
      "name": "Sticky Note10"
    }
  ],
  "pinData": {},
  "connections": {
    "IF (Paid?)": {
      "main": [
        [
          {
            "node": "IF (Already Receipted?)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand List": {
      "main": [
        [
          {
            "node": "IF (Paid?)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Send Receipt Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload Invoice PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Invoices": {
      "main": [
        [
          {
            "node": "Check API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Response": {
      "main": [
        [
          {
            "node": "Expand List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": " Error Logging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Receipt Email": {
      "main": [
        []
      ]
    },
    "Upload Invoice PDF": {
      "main": [
        [
          {
            "node": "Append to Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Already Receipted?)": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Fetch Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateId": "8955",
    "instanceId": "37203d6f9688077f4a5f9120b53471928bcb51453b38659512b9883b88ff7240"
  },
  "tags": []
}