public/Automation Packs/Foundation Pack/Automatic monitoring of multiple URLs with downtime alerts.json
{
  "name": "Automatic monitoring of multiple URLs with downtime alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "2744df51-ca51-4c01-9a49-b29c5b27f7bf",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        416,
        560
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "options": {}
      },
      "id": "cae73f18-028e-4cb5-aee2-a18768c5367e",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        896,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"urls\": {\n    \"URL 2\": \"https://example.com\",\n    \"URL 1\": \"https://google.es\",\n    \"URL 4\": \"https://github.com\",\n    \"URL 3\": \"https://n8n.io\",\n    \"URL 5\": \"https://n8niouou.io\",\n    \"URL 6\": \"https://n8niopuou.io\"\n  }\n}",
        "options": {}
      },
      "id": "398d41cf-c555-44d7-bf08-2732a47a18e7",
      "name": "URLs",
      "type": "n8n-nodes-base.set",
      "position": [
        672,
        464
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "13EHjUGc0wHYbBYZFPqlGuSE1pnttvokU1y3gJCWz920",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13EHjUGc0wHYbBYZFPqlGuSE1pnttvokU1y3gJCWz920/edit?usp=drivesdk",
          "cachedResultName": "Prova2"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13EHjUGc0wHYbBYZFPqlGuSE1pnttvokU1y3gJCWz920/edit#gid=0",
          "cachedResultName": "Hoja 1"
        },
        "columns": {
          "value": {
            "Caida": "=",
            "Funcional": "=Funciona: {{ $('Split Out').item.json.urls }}"
          },
          "schema": [
            {
              "id": "Funcional",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Funcional",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Caida",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Caida",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "876e4ca3-c607-4443-a4ec-cb83fe84e6c3",
      "name": "Success",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1632,
        624
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "13EHjUGc0wHYbBYZFPqlGuSE1pnttvokU1y3gJCWz920",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13EHjUGc0wHYbBYZFPqlGuSE1pnttvokU1y3gJCWz920/edit?usp=drivesdk",
          "cachedResultName": "Prova2"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13EHjUGc0wHYbBYZFPqlGuSE1pnttvokU1y3gJCWz920/edit#gid=0",
          "cachedResultName": "Hoja 1"
        },
        "columns": {
          "value": {
            "Caida": "=Caida: {{ $json.urls }}"
          },
          "schema": [
            {
              "id": "Funcional",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Funcional",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Caida",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Caida",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c99e1ec7-0b11-4278-8f97-d6b9cef798cd",
      "name": "Error",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1632,
        832
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "Caida"
            },
            {
              "field": "Funcional"
            }
          ]
        },
        "options": {}
      },
      "id": "9aeec8f1-1498-4381-bfab-a76c8e40a862",
      "name": "Total",
      "type": "n8n-nodes-base.summarize",
      "position": [
        1376,
        384
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "01fd1dbc-ca4c-4a94-abbc-e1d67a7dd775",
      "name": "Bucle URLs",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1120,
        464
      ],
      "typeVersion": 3
    },
    {
      "parameters": {},
      "id": "760cea59-8d84-4abf-b91a-c277ca122420",
      "name": "Run trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        416,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "email@youemail.com",
        "subject": "Webs caídas",
        "message": "=Te informamos que actualmente estos URLs se encuentran caídos: \n\n{{ $json.url }}\n\n\nCaídos: {{ $('Total').item.json.count_Caida }}\n\nFuncionales: {{ $('Total').item.json.count_Funcional }}",
        "options": {}
      },
      "id": "1ec7a4ea-e929-4f50-b4b8-4732b9e439ed",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1968,
        384
      ],
      "webhookId": "cf566774-8539-422c-8129-7c9fea6b367c",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "jsCode": "// 1) Traemos TODOS los ítems que generó el nodo \"Bucle URLs\"\nconst items = $items('Bucle URLs');   // respeta exactamente el nombre del nodo\n\n// 2) Extraemos la propiedad Caida y descartamos vacíos\nconst caidaUrls = items\n  .map(it => it.json.Caida)               \n  .filter(url => typeof url === 'string' && url.trim().length);\n\nif (caidaUrls.length === 0) {\n  throw new Error('No se encontraron URLs en la propiedad \"Caida\".');\n}\n\nreturn caidaUrls.map(url => ({ json: { url } }));\n\n/*  Si prefieres un ÚNICO item con el array completo, comenta la línea anterior\n    y descomenta esto:\nreturn [\n  { json: { caidaUrls } },     // { \"caidaUrls\": [\"https://n8niouou.io\", \"https://n8niopuou.io\"] }\n];\n*/\n"
      },
      "id": "e6ca120c-21e0-42c5-b3d0-c8e447e09386",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        1568,
        384
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "fieldToSplitOut": "url",
        "options": {}
      },
      "id": "d5fb83e9-689f-44f3-a02a-32ff511c9ee0",
      "name": "Split Out2",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1776,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.urls }}",
        "options": {}
      },
      "id": "464a16ea-17f0-4757-b491-1b331395cd14",
      "name": "Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1376,
        592
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## How it works (P1)\nBefore the loop, you enter the URLs to scan in the \"URLs\" stream, then start the trigger either manually or scheduled.",
        "width": 260,
        "color": 5
      },
      "id": "5df0c197-037d-46da-bc4b-fd7ed514bbe5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Cómo funciona (P1)\n\nAntes del bucle, se introducen las URL que se escanearán en el flujo \"URL\" y, a continuación, se inicia el disparador, ya sea de forma manual o programada.",
        "height": 180,
        "width": 260,
        "color": 5
      },
      "id": "8e2d7f73-8731-4b35-8fb0-10d68978a671",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## How it works (P2)\nStart a loop for each URL entered, adding the status to a Google Sheet, then collect the status of each URL, filter out the crashes, and send an email with the crashes.",
        "height": 180,
        "width": 260
      },
      "id": "4367f7ee-0b74-476b-84b4-202bc3d909e7",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1856,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Cómo funciona (P2)\nInicia un bucle por cada URL introducida, agregando el estado en google sheet, luego recoge el estado de cada URL, filtra las caídas y envía un email con las caídas.",
        "height": 180,
        "width": 260
      },
      "id": "466863c5-a256-499c-b457-4651de2bb8fc",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1856,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Enter URLs to scan here",
        "height": 220,
        "width": 180,
        "color": 5
      },
      "id": "4cb90ac4-9808-413a-8fb0-c7ed0db631bb",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### As a trigger you could also implement webhook or MCP",
        "height": 480,
        "width": 180,
        "color": 5
      },
      "id": "040739ca-50d8-4d77-bf3a-c7406bd60410",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![Sticky Note Image](https://cdn.discordapp.com/attachments/1421922857595834368/1422243054559035492/banner.png?ex=68e1e550&is=68e093d0&hm=7f4b2ad03acfb637d9ba3177654240de26ebf97100596366c4e3c1b99ffdfe23&)",
        "height": 288,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        768,
        -192
      ],
      "id": "d36d956a-a128-4099-b5d1-63f06e411ff2",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URLs": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error": {
      "main": [
        [
          {
            "node": "Bucle URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Total": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success": {
      "main": [
        [
          {
            "node": "Bucle URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Bucle URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bucle URLs": {
      "main": [
        [
          {
            "node": "Total",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run trigger": {
      "main": [
        [
          {
            "node": "URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateId": "5298",
    "instanceId": "37203d6f9688077f4a5f9120b53471928bcb51453b38659512b9883b88ff7240"
  },
  "tags": []
}