public/Automation Packs/Foundation Pack/Send Real-time Notifications for New Shopify Orders to Slack.json
{
  "name": "Send Real-time Notifications for New Shopify Orders to Slack",
  "nodes": [
    {
      "parameters": {
        "topic": "orders/create"
      },
      "id": "74cc7f38-5f19-4791-af11-b9b86860de09",
      "name": "Shopify Trigger",
      "type": "n8n-nodes-base.shopifyTrigger",
      "position": [
        688,
        464
      ],
      "webhookId": "77043131-5411-4710-a8a8-4b325e838395",
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"customer_name\": \"{{ $('Shopify Trigger').item.json.customer.first_name }} {{ $('Shopify Trigger').item.json.customer.last_name }}\",\n  \"order_number\": \"{{ $('Shopify Trigger').item.json.order_number }}\",\n  \"total_price\": \"{{ $('Shopify Trigger').item.json.total_price }}\",\n  \"currency\": \"{{ $('Shopify Trigger').item.json.currency }}\",\n  \"items_count\": \"{{ $('Shopify Trigger').item.json.line_items.length }}\",\n  \"order_url\": \"https://admin.shopify.com/store/YOUR_STORE/orders/{{ $('Shopify Trigger').item.json.id }}\"\n}",
        "options": {}
      },
      "id": "0a609b3e-ab0a-47d9-b7c7-e437289bf929",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        912,
        464
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## 🛒 SHOPIFY ORDER → SLACK ALERT\n\nWORKFLOW PURPOSE:\nInstantly notify your team in Slack when a new order comes in through Shopify\n\nSETUP REQUIREMENTS:\n- Shopify store with webhook access\n- Slack workspace and channel (#orders recommended)\n- Shopify app credentials in n8n\n\nNODES FLOW:\n1. Shopify Trigger (order/create webhook)\n2. Edit Fields (format order data)\n3. Slack (send rich notification)\n\n",
        "height": 400,
        "width": 280
      },
      "id": "245cee48-aa0d-4a7a-b8c8-e5abb9644b37",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**BUSINESS VALUE**:\n⚡ Instant order awareness\n📈 Faster order processing\n👥 Team coordination\n🎯 No missed sales\n\nTIME TO BUILD: 20 minutes\nDIFFICULTY: Beginner\nROI: High - immediate team efficiency",
        "height": 200,
        "width": 260,
        "color": 7
      },
      "id": "dd8df1a2-e261-4beb-986a-d11e5747aa7c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n**KEY FEATURES**:\n✅ Real-time order notifications\n✅ Customer name & order details\n✅ Direct link to Shopify admin\n✅ Order total and item count\n✅ Professional formatted message\n\nCONFIGURATION NOTES:\n- Set Up Shopify Credentials\n- Customize Slack channel name\n- Update store URL in order_url field\n- Test with a sample order\n",
        "height": 260,
        "width": 260,
        "color": 6
      },
      "id": "ca9e953b-9a2d-4e2a-a70a-1f36481aa9df",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n**NODES FLOW**:\n1. Shopify Trigger (order/create webhook)\n2. Edit Fields (format order data)\n3. Slack (send rich notification)\n",
        "color": 5
      },
      "id": "4b2469c6-bf2c-40d7-8649-62fd2883d6f0",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C0971EWTRFA",
          "cachedResultName": "orders"
        },
        "text": "={\n  \"customer_name\": \"{{ $json.customer_name }}\",\n  \"order_number\": \"{{ $json.order_number }}\",\n  \"total_price\": \"{{ $json.total_price }}\",\n  \"currency\": \"{{ $json.currency }}\",\n  \"items_count\": \"{{ $json.items_count }}\",\n  \"order_url\": \"{{ $json.order_url }}\"\n}",
        "otherOptions": {}
      },
      "id": "e7654827-0267-4545-a82f-b216b237345c",
      "name": "Notify your team",
      "type": "n8n-nodes-base.slack",
      "position": [
        1120,
        464
      ],
      "webhookId": "9283e042-363a-42cb-abeb-590043b57123",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "content": "![Sticky Note Image](https://cdn.discordapp.com/attachments/1421922857595834368/1422243054559035492/banner.png?ex=68e1e550&is=68e093d0&hm=7f4b2ad03acfb637d9ba3177654240de26ebf97100596366c4e3c1b99ffdfe23&)",
        "height": 304,
        "width": 736
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        352,
        -160
      ],
      "id": "805bb8af-722c-4722-add1-1eb36727adef",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Notify your team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateId": "6109",
    "instanceId": "37203d6f9688077f4a5f9120b53471928bcb51453b38659512b9883b88ff7240"
  },
  "tags": []
}